.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: 3.8rem;
  font-weight: 900;
  font-family: "Inter";
  text-align: start;
  line-height: 1.5;
}

.char {
  display: inline-block;
}

@media (width<=768px) {
  .scroll-float-text {
    font-size: 2.5rem;
  }
}