.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}

.text h3 {
  font-size: 2rem;
  max-width: 600px;
  text-transform: uppercase;
  font-weight: 600;
}

.swipeimage {
  position: fixed;
  top: 0;
  left: 0;
  width: 14rem;
  height: 8rem;
  object-fit: cover;
  pointer-events: none;
  z-index: 999;
  border-radius: 2rem;
  transform: translate3d(0, 0, 0) rotate(8deg);
  will-change: transform, opacity;
  backface-visibility: hidden;
}
